

/*  登壇者名表示ボタンのスタイル */
.button-visible {
    background-color: #fff;
    border: 1px solid #444;
    color: #000;
    font-weight: bold;
}
.button-visible:hover {
    background-color: #444;
}

/*  登壇者名非表示ボタンのスタイル */
.button-invisible {
    background-color: #fff;
    border: 1px solid #444;
    color: #000;
    font-weight: bold;
}
.button-invisible:hover {
    background-color: #444;
}

/*  Copyボタンのスタイル */
.button-copy {
    background-color: #fff;
    border: 1px solid #444;
    color: #000;
    font-weight: bold;
}
.button-copy:hover {
    background-color: #444;
}
