/* HowToUseButtonのスタイル */
.howtouse-button {
    position: fixed; /* 固定位置 */
    right: 0px; /* 右から0px */
    background-color: transparent; /* 背景色を透明にする */
    color: #fff; /* テキストの色 */
    border: 2px solid transparent; /* 枠線を透明にする */
    border-radius: 5px; /* 角を丸くする */
    padding: 10px; /* ボタンの余白 */
    font-size: 30px; /* フォントサイズ */
    cursor: pointer; /* マウスカーソルを指に変更 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ボックスシャドウを追加 */
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease; /* トランジションを追加 */
    width: 150px; /* ボタンの幅 */
    height: 13vh; /* ボタンの高さ */
    display: flex; /* アイコンを中央に配置 */
    justify-content: center; /* アイコンを中央に配置 */
    align-items: center; /* アイコンを中央に配置 */
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 1); /* テキストに影を追加 */
    font-weight: bold; /* 太字にする */
  }
  
  .howtouse-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* ホバー時の背景色を薄い黒色に変更 */
    border-color: rgba(0, 0, 0, 0.3); /* ホバー時の枠線の色を薄い黒色に変更 */
  }